<div class="container-fluid">
    <div class="all-buttons">
        <div class="buttons-quotes-tweets pull-left">
            <button id="btn" class="btn btn-primary btn-lg" (click)="showQuotes()">Quotes</button>
            <a id="btn2" class="btn btn-info btn-lg" href={{tweets}} role="button">Tweets</a>
        </div>
        <div class="btn-group pull-right" id="dropdown">
            <button class="btn btn-success btn-lg dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                {{ title }}
                <span class="caret"></span>
            </button>
            <ul class="dropdown-menu">
                <li value="random" (click)="getCategory($event)"><a href="#">Random</a></li>
                <li value="nerdy" (click)="getCategory($event)"><a href="#">Nerdy</a></li>
                <li value="explicit" (click)="getCategory($event)"><a href="#">Explicit</a></li>
            </ul>
        </div>
    </div>
    <div class="well">
        <h3 class="quotes text-center">{{ quotes }}</h3>
    </div>
</div> 
