#buttons {
  margin-top: 50px;  
}

.well {
   background-color: rgba(245, 245, 245, 0.4);
   margin-top: 20px;
   margin-left: 30px;
   padding: 30px 30px 30px 30px;
   border-width: 5px; 
   border-style: solid; 
   border-color: black; 
   border-radius: 50px; 
}

.quotes {
  font-size: 30px;
  font-family: Lobster;
}

.btn-primary {
  background-color: grey;
  height: 45px;
  margin: 20px 20px 0 90px;
}

.btn-info {
  height: 45px;
  margin: 20px 20px 0 20px;
}

.btn-group {
  height: 45px;
  margin: 20px auto 0 20px;
}


