.all-buttons {
  max-width: 550px;
  margin-top: 50px;
  margin-bottom: 50px;
}

.buttons-quotes-tweets {
  margin-left: 40px;
}

.btn-primary {
  background-color: grey;
  margin-right: auto;
}

.btn-info {
  margin-right: auto;  
  margin-left: auto;
}

#dropdown {
  margin-left: auto;  
}

.well {
  margin-top: 100px;
  margin-left: 30px;
  max-width: 550px;
  padding: 30px;
  border-width: 5px; 
  border-style: solid; 
  border-color: black; 
  border-radius: 60px; 
  word-wrap: break-word;
  background-color: rgba(245, 245, 245, 0.4);
}

.quotes {
  font-size: 40px;
  font-family: Lobster;
}

@media (max-width: 450px) {
  .quotes {
    font-size: 2em;
  }
}